.mainContainer{
    background-color: var(--primary-background);
    height: 100%;
    width: 100vw;
}

.viewContainer{
    background-color: var(--primary-background);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.sideBarLeft{
    width: 700px;
    height: 70vh;
    background-color: var(--secondary-backgrund);
    margin-right: 10px;
    border: 1px solid var(--primary-background);
    overflow-y: scroll;
    overflow-x: hidden;
}

.sideBarRight {
    width: 700px;
    height: 70vh;
    background-color: var(--full-color-background);
    margin-left: 10px;
}

.containerLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .imageLoading {
    width: 60%;
  }
