.mainContainer{
    background-color: var(--primary-background);
    height: 100vh;
}

.viewContainer{
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.sideBarLeft{
    width: 700px;
    height: 90vh;
    background-color: chartreuse;
    margin-right: 10px;
    border: 1px solid var(--primary-background);
    overflow-y: scroll;
    overflow-x: hidden;
}

.sideBarRight {
    width: 700px;
    background-color: aqua;
    margin-left: 10px;
}
